<center>
    <h1>
        Welcome to the PBLearn platform
    </h1>

    @if (User.Identity.IsAuthenticated )
    {
        @if (User.IsInRole("Teacher"))
        {
            <p> Please manage the projects from the "Project List" page, or assign students to existing projects using the "Allocate a Project" button</p>
        }
        else
        {
            <p>Please see the projects from the "Project List" page .</p>
        }
    }
    else
    {
        <p> Please use the above menu to Log into your account, or Register a new one</p>
    }
</center>