
<center>

    <h1>
        Welcome to the PBLearn platform
    </h1>

    @if (User.Identity?.IsAuthenticated == true)
    {
        @if (User.IsInRole("Teacher"))
        {
            <p> Please manage the projects from the "Project List" page, or assign students to existing projects using the "Allocate a Project" button</p>
        }
        else
        {
            <p>Please see the projects from the "Project List" page .</p>
        }
    }
    else
    {
        <p> Please use the above menu to Log into your account, or Register a new one</p>
    }
</center>
<div style="position:relative">
    <p style="position:fixed; bottom:25%; left:5%;" class="col-3"> <font size="12" color="purple">Designed to simplify the process of creating, distributing, and grading assignments in a paperless way!</font></p>

    <img src="pic/Homepage_bg.png" style="position:fixed; bottom:5%; right:5%; width:40%;" alt="" />

</div>
